.encabezado {
    text-align: center;
    color: yellowgreen;
    box-shadow: 2dvw;
    border-color: blue;
    border-style: double;
    text-decoration-line: underline;
    background-color: darkolivegreen;}
img {
    height: 150px;
    width: 350px;
}
